@import '../../styles/variables.scss';

.container {
  position: fixed;
  bottom: 120px;
  left: 52%;
  transform: translateX(-50%);
  
  @media (max-width: 1350px) {
    left: 50%;
  }

  @media (max-width: 768px) {
    position: absolute;
    top: 960px;
    left: 34%;
    width: 140px;
  }

  @media (max-width: 468px) {
    top: 130vh;
    left: 30%;
  }

  @media (max-width: 412px) {
    top: 121vh;
  }

  @media (max-width: 360px) {
    top: 124vh;
  }
}

.addTaskButton {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  width: auto;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
  &:hover {
    filter: brightness(110%);
  }

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.text {
  font-weight: 600;
}
